@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
  }
@font-face {
    font-family: "Inter";
    src: url("/assets/fonts/Inter/static/Inter-Regular.ttf");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Inter";
    src: url("/assets/fonts/Inter/static/Inter-SemiBold.ttf");
    font-weight: 700;
    font-style: bold;
}
@font-face {
    font-family: "Inter";
    src: url("/assets/fonts/Inter/static/Inter-ExtraBold.ttf");
    font-weight: 900;
    font-style: bolder;
}

:root {
    --primary: #6943FF;
    --border: #B295FF;
    --subheadings: #5A537B;
    --paragraph: #353535;
    --secondarybg: #F4F4F4;
    --containers: #FFFFFF;
    --light-color: #FFFFFF;
}

::placeholder {
    color: var(--light-color);
}
html{
    margin: 0;
    padding: 20px;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
font-size: 28px;
font-weight: bold;
line-height: 38px;
letter-spacing: -0.03em;
text-align: center;
background: var(--secondarybg);
margin: 0;

}

h1{
    font-family: 'Inter';
}

#title{
    margin: 33px 0 30px 0;
}

h3{
    color: var(--subheadings);
    font-size: 20px;
    font-weight: bold;
    margin: 10px auto;
}
p {
    font-size: 14px;
    color: var(--paragraph);
    font-family: "Inter";
}

button{
    border: 0 solid var(--light-color);
    border-radius: 5px;
    background: var(--light-color) ;
    font-size: 16px;
}

button:hover {
    cursor: pointer;
}

.conversion-section {
    margin: 36px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.error{
    color: #f08080 ;
}

.conversion-containers{
    width: 500px;
    height: 108px;
    background: var(--containers);
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--light-color);
    background: var(--primary);
    padding: 20px;
}

#input-box{
    -moz-box-sizing: content;
    margin: 30px 0 25px 0;
    padding: 20px 20px;
    border: 1px solid var(--border);
    border-radius: 5px;
    color: var(--light-color);
    background: var(--primary);
    font-size: 58px;
    font-style: bolder;
}
#error-message {
    display: none;
    margin: 0 0 25px 0;
}

#convert-btn {
    padding: 9px 27px;
    margin: auto;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary: #6943FF;
        --border: #B295FF;
        --subheadings: #CCC1FF;
        --paragraph: #FFFFFF;
        --secondarybg: #1F2937; 
        --containers: #273549;
        --light-color: #FFFFFF
    }
}

#error-msg {
    display: none;
  }